:root {
  --main-font: 'Roboto', sans-serif;
  /* text colors */
  --main-text-cl: #757575;
  --title-text-cl: #212121;
  --accent-text-cl: #2196f3;
  /* background colors */
  --main-bg-cl: #f5f4fa;
  --dark-bg-cl: #2f303a;
}
body {
  font-family: var(--main-font);
  color: var(--main-text-cl);
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}

/* Хедер */

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.conteiner.main-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo,
.foot-logo,
.nav-link,
.cont-link {
  text-decoration: none;
}
.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  color: var(--accent-text-cl);
}
.logo-accent-bl {
  color: var(--title-text-cl);
}
.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-list > .nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link-active {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-text-cl);
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--title-text-cl);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-cl);
}
.cont-list {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
}
.cont-item + .cont-item {
  margin-left: 50px;
}
.cont-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
}
.cont-link:hover,
.cont-link:focus {
  color: var(--accent-text-cl);
}

/* Секція герой */

.hero {
  background-color: var(--dark-bg-cl);
  text-align: center;
}
.hero-title {
  margin: 0;
  padding-top: 200px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  margin-bottom: 200px;
  padding: 10px 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-text-cl);
  cursor: pointer;
  min-wigth: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*   Наші переваги */

.section {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  width: 1200px;
  outline: 2px solid tomato;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.advantages-item {
  width: 270px;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: var(--title-text-cl);
}
.advantages-text {
  font-size: 14px;
  line-height: 24px;
}

/*  Чим ми займаємось */

.section.specialty {
  padding-top: 0;
}
.specialty-title {
  margin: 0px 0px 50px 0px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  color: var(--title-text-cl);
}
.specialty-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.specialty-item:not(:last-child) {
  margin-right: 30px;
}

.specialty-img {
  display: block;
}

/*  Наша команда */

.team {
  background-color: var(--main-bg-cl);
}

.team-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin: 0px 0px 50px 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  color: var(--title-text-cl);
}

.team-img {
  display: block;
  margin-bottom: 30px;
}

.team-name {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  color: var(--title-text-cl);
}
.team-profession {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.19em;
}

/*  Футер */

.footer {
  background-color: var(--dark-bg-cl);
}
.footer > .conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  color: var(--accent-text-cl);
}
.logo-accent-wh {
  color: #ffffff;
}
.footer-addr {
  font-style: normal;
}
.footer-addr-residential {
  margin-top: 30px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71em;
  color: #ffffff;
}

.addr-cont-list {
  margin: 0;
  padding: 0;
}

.addr-cont-item:first-child {
  margin-bottom: 9px;
}

.footer-cont-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-cont-link:hover,
.footer-cont-link:focus {
  color: var(--accent-text-cl);
}
/* Page portfolio */

.portfolio-btn-active {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-text-cl);
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  color: var(--title-text-cl);
  background: var(--main-bg-cl);
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-text-cl);
}
.portfolio-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--title-text-cl);
}
.portfolio-card-set {
  line-height: 1.88em;
}
